/* * {
    outline: 1px solid red;
} */

#search {

    color: green;
    border-color: green;
    background-color: #DDE6ED;
    border-radius: 50px;
    height: 35px;
    width: 150px;
}

#plus {
    color: white;
    border-color: white;
    font-size: 20px;
    background-color: #47A992;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

#createaccount {
    width: 200px;
    color: white;
    border-color: black;
    background-color: #30A2FF;
    height: 40px;
    box-shadow: 5px 5px black;
    margin-top: 10px;
}